@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="display:inline-block">Start working with your CV here - <a asp-area="" asp-controller="CvModels" asp-action="Index"><strong>Browse CV</strong></a></div>
</div>
