@model Cv_App.Core.Models.CvModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit</h4>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/js/functionsJs.js"></script>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CvTitle" class="control-label"></label>
                <input asp-for="CvTitle" class="form-control" />
                <span asp-validation-for="CvTitle" class="text-danger"></span>
            </div>
            <h5>Personal Data</h5>
            <div class="form-group">
                <label asp-for="PersonalData.Name" class="control-label"></label>
                <input asp-for="PersonalData.Name" class="form-control" />
                <span asp-validation-for="PersonalData.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.LastName" class="control-label"></label>
                <input asp-for="PersonalData.LastName" class="form-control" />
                <span asp-validation-for="PersonalData.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.PhoneNumber" class="control-label"></label>
                <input asp-for="PersonalData.PhoneNumber" class="form-control" />
                <span asp-validation-for="PersonalData.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.Email" class="control-label"></label>
                <input asp-for="PersonalData.Email" class="form-control" />
                <span asp-validation-for="PersonalData.Email" class="text-danger"></span>
            </div>
            <h5>Education</h5>
            <div class="form-group" id="education"></div>
            <div class="form-group">
                <input type="button" id="addEducation" value="Add" />
            </div>
            @for (int i = 0; i < Model.Educations.Count; i++)
            {
                <span>---------</span>
                <div class="form-group">
                    <label class="control-label">Degree</label>
                    <input asp-for="Educations[i].Degree" class="form-control" />
                    <span asp-validation-for="Educations[i].Degree" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Specialization</label>
                    <input asp-for="Educations[i].Specialization" class="form-control" />
                    <span asp-validation-for="Educations[i].Specialization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">School</label>
                    <input asp-for="Educations[i].School" class="form-control" />
                    <span asp-validation-for="Educations[i].School" class="text-danger"></span>
                </div>
                <h6>Duration</h6>
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <input asp-for="Educations[i].StartDate" class="form-control" />
                    <span asp-validation-for="Educations[i].StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">End Date </label>
                    <input asp-for="Educations[i].EndDate" class="form-control" />
                    <span asp-validation-for="Educations[i].EndDate" class="text-danger"></span>
                </div>
            }
            <h5>Work Experience</h5>
            <div class="form-group" id="work"></div>
            <div class="form-group">
                <input type="button" id="addWorkExperience" value="Add" />
            </div>
            @for (int i = 0; i < Model.WorkExperiences.Count; i++)
            {
                <span>---------</span>
                <div class="form-group">
                    <label class="control-label">Job Title</label>
                    <input asp-for="WorkExperiences[i].JobTitle" class="form-control" />
                    <span asp-validation-for="WorkExperiences[i].JobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <input asp-for="WorkExperiences[i].Company" class="form-control" />
                    <span asp-validation-for="WorkExperiences[i].Company" class="text-danger"></span>
                </div>
                <h6>Duration</h6>
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <input asp-for="WorkExperiences[i].StartDate" class="form-control" />
                    <span asp-validation-for="WorkExperiences[i].StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <input asp-for="WorkExperiences[i].EndDate" class="form-control" />
                    <span asp-validation-for="WorkExperiences[i].EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Job Description</label>
                    <input asp-for="WorkExperiences[i].JobDescription" class="form-control" />
                    <span asp-validation-for="WorkExperiences[i].JobDescription" class="text-danger"></span>
                </div>
            }
            <h5>Other Information</h5>
            <div class="form-group" id="other"></div>
            <div class="form-group">
                <input type="button" id="addAdditionalInformation" value="Add" />
            </div>
            @for (int i = 0; i < Model.Properties.Count; i++)
            {
                <span>---------</span>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input asp-for="Properties[i].Title" class="form-control" />
                    <span asp-validation-for="Properties[i].Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Text Field</label>
                    <input asp-for="Properties[i].Text" class="form-control" />
                    <span asp-validation-for="Properties[i].Text" class="text-danger"></span>
                </div>
            }
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
